$color-err: $dark-red;
$color-focus-input: $dark-gray-80;
$color-border-input: $dark-gray-20;
$color-border-block: $dark-gray-20;
$shadow-block: 0px 0px 25px rgba(0, 0, 0, 0.2);
$color-text: $dark-gray-90;
$color-text-button: $dark-gray-90;

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid $color-border-block;
  padding: 10px;
  box-shadow: $shadow-block;
  background-color: $color-white;

  &__header-wrapper {
    margin-bottom: 20px;
  }

  &__header {
    font-size: 18px;
  }

  &__identification {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
  }

  &__name-wrapper,
  &__password-wrapper,
  &__captcha-wrapper {
    margin-bottom: 10px;
  }

  &__captcha-wrapper {
  }

  &__submit-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :nth-child(1) {
      margin-bottom: 15px;
    }

    :nth-child(2) {
      margin-bottom: 10px;
    }
  }

  &__message-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message-text {
    color: $color-text-button;
  }
}
