.content {
  display: flex;
  flex-direction: column;
}

.todo {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-wrapper;
  min-height: 200px;
  margin: 0 auto;
  padding: 10px;

  @include media-breakpoint-down($sm-middle) {
    padding: 0px;
  }
}
