$color-err: $dark-red;
$color-focus-input: $dark-gray-80;
$color-border-input: $dark-gray-20;
$color-border-block: $dark-gray-20;
$shadow-block: 0 0 25px rgb(0 0 0 / 20%);
$color-text: $dark-gray-90;

.authorization {
  position: fixed;
  top: 50px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-family: $font;
  background-color: $color-white;
  border: 1px solid $color-border-block;
  box-shadow: $shadow-block;
  transform: translate(-50%);

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__header-wrapper {
    margin-bottom: 20px;
  }

  &__header {
    font-size: 18px;
  }

  &__identification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
    border: 0;
  }

  &__data-text {
    margin-bottom: 20px;
    color: $color-text;
  }

  &__name-wrapper,
  &__password-wrapper {
    width: 205px;
    margin-bottom: 10px;
  }

  &__name,
  &__password {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    color: $color-text;
    border: 1px solid $color-border-input;

    &:focus {
      border: 1px solid $color-focus-input;
      outline: 0;
      outline-offset: 0;
    }
  }

  &__name-error,
  &__password-error {
    border: 1px solid $color-err;
  }

  &__submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    margin: 0 auto;
  }

  &__registration-wrapper {
    width: 100%;
    max-width: 205px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
