.todo-item {
  display: flex;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 15px;

  &:nth-child(2n) {
    background-color: $dark-gray-10;
  }

  &__input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;

    @include media-breakpoint-down($sm-middle) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__text {
    display: -webkit-box;
    margin-left: 10px;
    padding: 0;
    overflow: hidden;
    color: $dark-gray-100;
    font-weight: normal;
    font-size: 16px;
    font-family: $font;
    line-height: 19px;
    text-align: left;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    user-select: none;

    @include media-breakpoint-down($sm-middle) {
      -webkit-line-clamp: 4;
    }

    &_no-decoration {
      text-decoration: none;
    }

    &:hover {
      color: $sea-wave;
    }

    &:focus {
      color: $sea-wave;
      outline: 2px solid $dark-gray-100;
      outline-offset: 5px;
    }
  }

  &__before {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: $color-white;
    border: 1px solid $dark-gray-100;
    border-radius: 2px;
    cursor: pointer;

    &_border {
      box-shadow: 0 0 0 2px $dark-gray-100;
    }
  }

  &__input {
    position: absolute;
    top: 8px;
    left: 7px;
    z-index: 0;
    width: 6px;
    height: 1px;
    padding: 0;
    border: 0;

    &:focus {
      outline: 2px solid $dark-gray-100;
      outline-offset: 12px;
    }

    &:checked + .todo-item__before {
      display: block;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 4.29245L5.70703 8.53509L4.29282 9.9493L0.0501771 5.70666L1.46439 4.29245Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 2.87823L9.94967 4.29245L4.29282 9.9493L2.8786 8.53509L8.53546 2.87823Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='2.17112' x2='2.1715' y2='7.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='2.17112' x2='2.1715' y2='7.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 4px 3px;
      background-size: 10px 10px;
      border-color: $dark-gray-80;
    }

    &:disabled + .todo-item__before {
      border-color: $dark-gray-100;
    }

    &:checked:disabled + .todo-item__before {
      border-color: $dark-gray-100;
    }
  }
}
