$color-text-button: $dark-gray-90;
$background-button: $light-gray;
$border-button: $pale-gray;
$background-button-hover: $color-white;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  white-space: nowrap;
  background-color: $background-button;
  border: 1px solid $border-button;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: $background-button-hover;
  }

  &:focus {
    outline: 2px solid $color-focus-button;
    outline-offset: 5px;
  }

  &:disabled {
    opacity: 0.6;
  }

  &__submit {
    color: $color-text-button;
  }

  &__interface {
    color: $color-text-button;
  }
}
