.menu button {
  margin-right: 10px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.2s linear;

    @include media-breakpoint-down($lg-middle) {
      position: absolute;
      top: 70px;
      left: 0;
      z-index: -1;
      flex-direction: column;
      box-sizing: border-box;
      max-width: 200px;
      padding: 10px;
      background-color: $color-white;
      box-shadow: 0 0 10px $dark-transparent;
      opacity: 0;

      button {
        margin: 0;
      }
    }

    &_active {
      z-index: 1;
      opacity: 1;
    }
  }
}
