$color-checkbox: $color-focus-button;
$color-checkbox-border: $dark-gray-100;
$color-checkbox-hover: #666;
$color-border-focus: $color-focus-button;
$color-focus: $color-focus-button;
$background-header-wrapper: $black-90;
$background-editor: $color-white;
$shadow-editor: 0 0 10px rgb(0 0 0 / 50%);
$color-header-text: $color-white;
$border-textarea: 1px solid rgb(0 0 0 / 12%);
$background-button-wrapper: $color-white;
$background-close: $orange-80;
$background-close-hover: $orange-75;

.editor {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: $background-editor;
  box-shadow: $shadow-editor;
  transform: translate(-50%, -50%);

  &_visible {
    display: flex;
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $background-header-wrapper;
  }

  &__header-text {
    margin-left: 5px;
    color: $color-header-text;
  }

  &__text {
    display: flex;
  }

  &__textarea {
    width: 100%;
    min-height: 400px;
    padding: 10px;
    border: $border-textarea;
    border-radius: 0;
    outline: none;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: flex-end;
    background: $background-button-wrapper;
  }

  &__close {
    z-index: 1;
    padding: 5px;
    background-color: $background-close;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: $background-close-hover;
    }

    &:focus {
      outline: 2px solid $color-focus;
      outline-offset: 5px;
    }
  }
}
