$shadow-editor: 0 0 10px $dark-transparent;
$border-textarea: 1px solid $dark-gray-20;

.editor {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0;
  display: flex;
  transition: all 0.2s linear;
  flex-direction: column;
  width: calc(100% - 20px);
  max-width: 600px;
  background: $color-white;
  box-shadow: $shadow-editor;
  transform: translate(-50%, -50%);

  &_visible {
    z-index: 1;
    opacity: 1;
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $dark-gray-100;
  }

  &__header-text {
    margin-left: 10px;
    color: $color-white;
    font-size: 16px;
  }

  &__text {
    display: flex;
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 400px;
    padding: 10px;
    border: $border-textarea;
    border-radius: 0;
    outline: none;
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: flex-end;
    background: $color-white;
  }

  &__close {
    z-index: 1;
    padding: 5px;
    background-color: $orange-80;
    border: 0;
    cursor: pointer;

    &:hover {
      background-color: $orange-75;
    }

    &:focus {
      outline: 2px solid $dark-gray-100;
      outline-offset: 5px;
    }
  }
}
