.tabs {
  display: flex;
  flex-direction: column;

  &__navigation {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down($sm-middle) {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
  }
}
