.menu-button {
  display: none;
  width: 57px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @include media-breakpoint-down($lg-middle) {
    display: block;
    margin-bottom: 20px;
  }

  &__icon {
    filter: drop-shadow(0 0 1px $dark-gray-80);
    transition: 0.3s ease-in-out;
    fill: $dark-gray-100;

    &_active {
      filter: drop-shadow(0 0 1px $dark-gray-100);
      transition: 0.3s ease-in-out;
      fill: $orange-75;
    }
  }
}
