.wrong-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    padding-bottom: 30px;
  }

  &__text {
    padding-bottom: 30px;
  }

  &__button-wrapper {
    width: 100%;
    max-width: 210px;
  }
}
