$min-wrapper: 319px;
$max-wrapper: 1160px;

$size-padding: 20px;
$min-size-padding: 10px;

$xxs: 320px;
$xs-middle: 419px;
$xs: 575px;
$sm-middle: 612px;
$sm: 767px;
$md-middle: 867px;
$md: 991px;
$lg-middle: 1099px;
$lg: 1199px;
$xl-middle: 1299px;
$xl: 1440px;
$xxl: 1920px;

//----------- COLORS -------------

$color-white: #fff;
$color-black: #000;
$dark-gray-100: #333;
$dark-transparent: rgb(0 0 0 / 50%);
$dark-gray-80: #616161;
$dark-gray-20: #e1e1e1;
$dark-gray-10: #fafafa;

$sea-wave: #1d5b5b;
$orange-80: #f56c30;
$orange-75: #f57c48;
$dark-red: #7a1a1a;
$yellow-90: #eae470;
$green-80: #b3ea70;
$yellow-20: #fcf9eb;

//------------- FONTS ------------

$font: verdana, arial, sans-serif;
$font-title: "arial black", "britannic bold", "impact";
$font-code: consolas, monospace;
$font-quote: sans-serif, arial, verdana;

$font-size: 16;
//-------------------------------
