.tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: $dark-gray-80;
  white-space: nowrap;
  background-color: $dark-gray-10;
  border: 1px solid $dark-gray-20;
  cursor: pointer;

  &_current {
    color: $color-black;
    border: 1px solid $dark-gray-80;
    box-shadow: 0 0 1px $dark-transparent;
  }

  &:hover {
    background-color: $color-white;
  }

  &:focus {
    outline: 2px solid $dark-gray-100;
    outline-offset: 5px;
  }
}
