$color-text-button: $dark-gray-90;

.message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  border-bottom: 3px solid $color-successful;

  &__text {
    color: $color-text-button;
  }

  &_error {
    border-bottom: 3px solid $color-error;
  }
}
