$color-background: $color-white;
$color-border: rgb(0 0 0 / 12%);

.manager-projects {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100vh - 23px);
  padding: 20px;
  background: $color-background;
  border: 1px solid $color-border;
  border-radius: 2px;

  &__title {
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  &__list {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
