$color-checkbox-border: $dark-gray-100;
$color-text-total: #555;

.footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid $color-checkbox-border;

  :first-child {
    margin-left: 0;
  }

  &__text-total {
    color: $color-text-total;
  }

  &__item {
    margin-left: 30px;
  }

  &__number-total {
    margin-left: 5px;
  }
}
