$shadow-editor: 0 0 10px $dark-transparent;

.footer {
  position: relative;
  margin-top: auto;

  &__list {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding-top: 20px;
    color: $dark-gray-80;
    border-top: 1px solid $dark-gray-100;
    opacity: 1;
    transition: all 0.2s linear;

    @include media-breakpoint-down($lg-middle) {
      position: absolute;
      bottom: 36px;
      left: 1px;
      z-index: -1;
      flex-direction: column;
      padding: 10px;
      background-color: $color-white;
      border: 0;
      box-shadow: $shadow-editor;
      opacity: 0;

      :nth-child(n) {
        margin-bottom: 10px;
        margin-left: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    &_visible {
      z-index: 1;
      opacity: 1;
    }
  }

  &__informer {
    display: none;
    margin-top: 10px;
    font-weight: 800;
    font-size: 20px;
    background-color: $color-white;
    border: 0;
    cursor: pointer;

    &_active {
      color: $orange-75;
    }

    @include media-breakpoint-down($lg-middle) {
      display: block;
      text-align: center;
      vertical-align: middle;
    }
  }

  :first-child {
    margin-left: 0;
  }

  &__text-total {
    color: $dark-gray-80;
  }

  &__item {
    margin-left: 30px;
  }

  &__number-total {
    margin-left: 5px;
  }
}
