$color-focus-input: $dark-gray-80;
$color-border-input: $dark-gray-20;
$color-text: $dark-gray-90;
$color-error: $dark-red;

.text-field {
  position: relative;
  font-family: $font;

  &__input {
    padding: 5px;
    border: 1px solid $color-border-input;
    color: $color-text;
    width: 205px;
    box-sizing: border-box;

    &::placeholder {
      font-size: 13px;
      color: #b3b3b3;
    }

    &:focus {
      border: 1px solid $color-focus-input;
      outline: 0px;
      outline-offset: 0px;
    }

    &_error {
      border: 1px solid #edcb37;
    }
  }

  &__message-wrapper {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fcf9eb;
    border: 1px solid #eee0a0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%);
      border: 10px solid transparent;
      border-bottom: 10px solid #eee0a0;
    }
  }

  &__message {
    color: $color-black;
    font-size: 13px;
  }
}
