$shadow-message-wrapper: 0 1px 3px rgb(0 0 0 / 26%);

.text-field {
  position: relative;
  font-family: $font;

  &__input {
    box-sizing: border-box;
    width: 205px;
    padding: 10px;
    color: $dark-gray-100;
    border: 1px solid $dark-gray-20;

    &::placeholder {
      color: $dark-gray-80;
      font-size: 13px;
    }

    &:focus {
      border: 1px solid $dark-gray-80;
      outline: 0;
      outline-offset: 0;
    }

    &_error {
      border: 1px solid $yellow-90;
    }
  }

  &__message-wrapper {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: $yellow-20;
    border: 1px solid $yellow-20;
    box-shadow: $shadow-message-wrapper;
    transform: translate(-50%);

    &::after {
      position: absolute;
      top: -20px;
      left: 50%;
      border: 10px solid transparent;
      border-bottom: 10px solid $yellow-20;
      transform: translate(-50%);
      content: '';
    }
  }

  &__message {
    color: $color-black;
    font-size: 13px;
  }
}
